<h1>Linki</h1>

<table>
  <thead>
    <tr>
      <th>Link</th>
      <th>Użytkownik</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @links.each do |link| %>
      <tr>
        <td><%= link_to time_ago_in_words(link.created_at), link.body, target: link.body %></td>
        <td><%= link.user.email %></td>
        <td><%= link_to 'Edytuj', edit_link_path(link) %></td>
        <td><%= link_to 'Usuń', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy Link', new_link_path %>
